.books-authors-inputs {
  display: grid;
  gap: 20px;
  padding: 3vh 5vw;
  margin-top: 3vh;
}

.error-message {
  background-color: red;
  display: none;
  margin: 0;
  padding: 1vh 2vw;
  color: #fff;
  text-align: center;
  max-width: 50vw;
  place-self: center;
}

.add-books {
  background-color: blue;
  border-radius: 3px;
  color: #fff;
  border: none;
  padding: 1vh 1vw;
  max-width: 15vw;
  place-self: center;
  cursor: pointer;
}

.add-books:hover {
  background-color: #fff;
  box-shadow: 0 0 3px #000;
  color: blue;
}

.add-books:active {
  background-color: orange;
  border: 1px solid #000;
  box-shadow: 0 0 3px blue;
  color: #fff;
}

.books-authors-inputs-div {
  display: grid;
}

.books-authors-inputs-div h2 {
  place-self: center;
}

.user-inputs::placeholder {
  text-align: center;
}

@media (min-width: 760px) {
  .books-authors-inputs-div {
    border-top: 2px solid grey;
    margin-top: 10vh;
  }

  .books-authors-inputs {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr 0.5fr;
    gap: 20px;
    padding: 0 0;
    margin-top: 3vh;
  }

  .books-authors-inputs-div h2 {
    text-align: left;
    width: 100%;
    padding-top: 5vh;
  }
}
