.nav-bar {
  display: flex;
  border: 1px solid grey;
  justify-content: space-between;
  padding: 0 6vw;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header-logo {
  color: blue;
}

.dp-hamgurger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.for-phone {
  display: block;
}

.for-desk {
  display: none;
}

.nav-desk-ul {
  display: none;
}

.nav-popUp-ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  background-color: blue;
  min-height: 80vh;
  padding: 3vh;
  gap: 20px;
  right: 2px;
  list-style: none;
}

.pop-up-li {
  color: #fff;
}

@media (min-width: 760px) {
  .for-phone {
    display: none;
  }

  .desk-li {
    color: #000;
  }

  .for-desk {
    display: block;
  }

  .nav-popUp-ul {
    display: none;
  }

  .nav-desk-ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .heading-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    padding: 0 6vw;
    box-shadow: 0 3px 2px grey;
    border-top: none;
  }
}
