.books-authors-inputs {
  display: grid;
  gap: 20px;
  padding: 3vh 5vw;
  margin-top: 3vh;
}

.add-books {
  max-width: 15vw;
  place-self: center;
}

.books-authors-inputs-div {
  display: grid;
}

.books-authors-inputs-div h2 {
  place-self: center;
}

@media (min-width: 760px) {
  .books-authors-inputs {
    border-top: 2px solid grey;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    gap: 20px;
    padding: 8vh 5vw;
    margin-top: 3vh;
  }
}
